.search-result-page {
  .results-and-topflop {
    display: flex;
    flex-direction: column;

    .results {
      margin: 0px 0;

      h2 {
        margin-left: 40px;
        margin-right: 15px;
        font-size: 1.4rem;
        font-family: $font-7;

        @media only screen and (max-width: 450px) {
        font-size: 1.2rem;
        }
      }
    }
  }

  .top-flop-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    p {
      margin: 0px 30px 0 40px;
      font-size: 0.9rem;
      @media only screen and (max-width: 735px) {
        width:300px;
      }
      @media only screen and (max-width: 550px) {
        display:none;
      }
    }
  }

  .btn-sort-container {
    background: transparent;
    font-family: $font-2;
    width: 140px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    color: $black;
    font-size: 0.8rem;
    @media only screen and (max-width: 550px) {
     display:none;
    }

    .btn-sort {
      color: $orange-deep;
      display: flex;
      justify-content: center;
    }

    #goodToBad {
      border-radius: 20px 0 0 20px;
      padding: 8px;
      font-family: $font-2;
      color: $black;
      background: linear-gradient(120deg, $orange-light 0%, $orange-deep 100%);
      transition: 0.2s;

      &:hover {
        transform: scale(1.1);
        z-index: 1;
      }
    }
    #goodToBad::after {
      content: '➜';
      transform: rotate(-90deg);
    }
    #badToGood {
      border-radius: 0 20px 20px 0;
      padding: 8px;
      font-family: $font-2;
      background-color: $greybg;
      border: 1px solid $orange-deep;
      transition: 0.6s;
      &:hover {
        transform: scale(1.1);
        z-index: 1;
      }
    }
    #badToGood::after {
      content: '➜';
      transform: rotate(90deg);
    }
    #goodToBad,
    #badToGood {
      width: 100%;
      transition: 0.3s;
      position: relative;
      transition: filter 0.4s ease-in-out;
    }
  }

  .result {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}
