.card {
  min-width: 500px;
  width: 80%;
  height: 140px;
  background: #1e1e1e;
  border-radius: 20px;
  margin: 10px;
  position: relative;
  display: flex;

  .poster-film {
    img {
      width: 100px;
      height: 100%;
      object-fit: cover;
      display: block;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }
  .first-infos {
    margin: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-size: 1.2rem;
    }

    .date-and-note {
      display: flex;

      h4 {
        letter-spacing: 1px;
        font-size: 0.8rem;
        font-weight: 100;
      }
    }

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin-top: 10px;
      font-weight: 100;
      font-size: 0.7rem;
    }
  }
}
