.header {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  background: black;
  height: 70px;
  padding: 0px 40px;
  font-family: $font1;
  font-size: 0.9rem;

  img {
    width: 200px;
  }

  nav {
    color: white;

    ul {
      display: flex;
      justify-content: flex-end;

      a {
        padding: 10px;
        text-decoration: none;
        color: white;

        &:visited {
          text-decoration: none;
        }
      }
    }
  }
}
