.movie-details-bg {
  min-height: 500px;
  height: 550px;
  max-height: 570px;

  @media screen and (min-width: 980px) {
    margin-left: 280px;
  }

  @media screen and (min-width: 1220px) {
    margin-left: 320px;
  }

  .movie-details {
    min-height: 500px;
    height: 550px;
    max-height: 570px;
    display: flex;
    padding: 40px 40px;

    background: linear-gradient(
      90deg,
      rgb(0, 0, 0) 10%,
      rgba(0, 0, 0, 0.3) 100%
    );
    color: rgb(255, 255, 255);

    @media screen and (min-width: 980px) {
      margin-left: -280px;
      background: linear-gradient(
        90deg,
        rgb(0, 0, 0) 30%,
        rgba(0, 0, 0, 0.2) 100%
      );
      color: rgb(255, 255, 255);
    }

    @media screen and (min-width: 1220px) {
      margin-left: -320px;
      background: linear-gradient(
        90deg,
        rgb(0, 0, 0) 27%,
        rgba(0, 0, 0, 0.2) 100%
      );
      color: rgb(255, 255, 255);
    }

    .movie-text-infos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 410px;

      h2 {
        font-size: 1.9rem;
        font-family: $font-7;
        margin-top: -5px;
        line-height: 2rem;
        margin-bottom: 10px;
      }
      .tagline {
        h4 {
          font-family: $font-6;
        }
      }
      .date-duration-genre {
        display: flex;
        margin-top: 15px;

        h4 {
          font-family: $font-1;
          font-size: 0.9rem;
        }
      }

      .notation,
      .actors {
        h4 {
          font-family: $font-1;
          font-size: 0.9rem;
        }
      }

      .synopsis-text {
        margin-top: 15px;
        margin-bottom: 25px;
        h3 {
          font-size: 1.5rem;
          font-family: $font-2;
        }

        p {
          font-family: $font-1;

          line-height: 20px;
          font-size: 0.85rem;
          min-width: 450px;
          width: 35%;
          height: 100px;

          overflow: scroll;
          text-overflow: ellipsis;
        }
      }
    }

    .trailer {
      button {
        padding: 8px 20px;
        border-radius: 40px;
        border: none;
        background: linear-gradient(to right, $orange-light, $orange-deep);
        cursor: pointer;
        font-family: $font-2;
      }

      button::before {
        content: '▶';
        color: black;
        padding-right: 9px;
      }
    }
  }
}

.recommandations-container {
  margin: 25px 40px;

  h3 {
    font-size: 1.5rem;
    font-family: $font-2;
  }

  .movie-recommendation-list {
    width: 100%;
    overflow: hidden;

    p {
      margin-top: 10px;
      font-family: $font-1;
      line-height: 20px;
      font-size: 1rem;
    }
  }
  .swiper-wrapper {
    display: flex;
    width: 100vw;
    margin-top: 15px;
  }

  .swiper-slide {
    margin: 0;
  }

  a {
    text-decoration: none;
    .reco-cards {
      margin: 0px;

      img {
        width: 220px;
        height: 124px;
      }

      h4 {
        font-size: 0.85rem;
        text-decoration: none;
        color: white;
      }
    }
  }
}
