.movie-details-bg {
  height: 550px;

  @media screen and (min-width: 980px) {
    margin-left: 280px;
  }

  @media screen and (min-width: 1220px) {
    margin-left: 320px;
  }

  .movie-details {
    position: relative;
    height: 550px;
    display: flex;
    padding: 40px 40px;
    background: linear-gradient(
      90deg,
      rgb(0, 0, 0) 15%,
      rgba(0, 0, 0, 0.01) 100%
    );
    color: rgb(255, 255, 255);

    @media screen and (min-width: 980px) {
      margin-left: -280px;
      background: linear-gradient(
        90deg,
        rgb(0, 0, 0) 30%,
        rgba(0, 0, 0, 0.01) 100%
      );
      color: rgb(255, 255, 255);
    }

    @media screen and (min-width: 1220px) {
      margin-left: -320px;
      background: linear-gradient(
        90deg,
        rgb(0, 0, 0) 27%,
        rgba(0, 0, 0, 0.01) 100%
      );
      color: rgb(255, 255, 255);
    }

    .movie-infos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 430px;

      h2 {
        font-size: 1.9rem;
        font-family: $font-7;
        margin-top: -5px;
        line-height: 2rem;
        margin-bottom: 10px;
      }
      .tagline {
        h4 {
          font-family: $font-6;
        }
      }

      .date-duration-genre {
        display: flex;
        margin-top: 15px;

        h4 {
          font-family: $font-1;
          font-size: 0.9rem;
        }
      }

      .notation,
      .actors,
      .director {
        h4 {
          font-family: $font-1;
          font-size: 0.9rem;
        }
      }

      .synopsis-text {
        margin-top: 15px;
        h3 {
          font-size: 1.5rem;
          font-family: $font-2;
        }

        p {
          font-family: $font-1;
          line-height: 20px;
          font-size: 0.85rem;
          width: 85%;
          height: 80px;
          overflow-y: auto;
          text-overflow: ellipsis;
          @media screen and (min-width: 980px) {
            width: 90%;
          }
        }
      }

      .youtube-container {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        opacity: 1;
      }

      .close-container {
        position: absolute;
        top: -13px;
        right: 77px;
        width: 25.5px;
        height: 25.5px;
        border: 1px solid $orange-deep;
        cursor: pointer;
        border-radius: 15px;
      }

      .leftright {
        height: 2px;
        width: 15px;
        position: absolute;
        margin-top: 11px;
        margin-left: 4.25px;
        background-color: $orange-deep;
        transform: rotate(45deg);
        transition: all 0.3s ease-in;
      }

      .rightleft {
        height: 2px;
        width: 15px;
        position: absolute;
        margin-top: 11px;
        margin-left: 4.25px;
        background-color: $orange-deep;
        transform: rotate(-45deg);
        transition: all 0.3s ease-in;
      }

      .close {
        position: absolute;
      }

      .close-container:hover .leftright {
        transform: rotate(-45deg);
        background-color: $orange-deep;
      }
      .close-container:hover .rightleft {
        transform: rotate(45deg);
        background-color: $orange-deep;
      }
    }

    .trailer {
      .button-play-video {
        padding: 8px 20px;
        border-radius: 40px;
        border: none;
        background: linear-gradient(to right, $orange-light, $orange-deep);
        cursor: pointer;
        font-family: $font-2;
        margin-right: 15px;
      }

      button::before {
        content: '▶';
        color: black;
        padding-right: 9px;
      }
    }
  }
}

.buttons-play-and-fav {
  display: flex;
  margin-top: 25px;
}

.button-fav {
  padding: 8px 20px;
  border-radius: 40px;
  border: 1px solid $orange-deep;
  cursor: pointer;
  background-color: transparent;
  color: $orange-deep;
  font-family: $font-2;
}

.recommandations-container {
  margin: 20px 0px 10px 40px;

  .recommendation-title {
    h2 {
      margin-bottom: 5px;
      font-size: 1.4rem;
      font-family: $font-2;
      background: linear-gradient(120deg, $orange-light 0%, $orange-deep 100%);
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      width: 217px;
    }
  }

  .movie-recommendation-list {
    width: 100%;
    overflow: hidden;

    p {
      margin-top: 10px;
      font-family: $font-1;
      line-height: 20px;
      font-size: 1rem;
    }
  }
  .swiper-wrapper {
    display: flex;
    width: 100vw;
    height: 200px;
    margin-top: 5px;
  }

  .swiper-slide {
    margin: 0;
    transition: 250ms all;
    opacity: 0.8;

    &:hover {
      transform: scale(1.2);
      z-index: 1;
      opacity: 1;
    }
    &:first-child:hover {
      margin-left: 22px;
    }
    &:last-child:hover {
      margin-right: 22px;
    }
  }

  a {
    text-decoration: none;
    .reco-cards {
      margin: 0px;

      img {
        width: 220px;
        height: 124px;
      }

      h4 {
        margin-top: 5px;
        padding-right: 20px;
        font-size: 0.85rem;
        text-decoration: none;
        color: white;
        font-family: $font-5;
        line-height: 1rem;
        margin-bottom: 4px;
      }
    }
  }
}
