@import '../../style/settings';

.recommandations-container {
  margin: 30px 0px 10px 0px;

  .recommendation-title {
    h2 {
      margin-bottom: 5px;
      margin-left: 40px;
      font-size: 1.4rem;
      font-family: $font-2;
      background: linear-gradient(120deg, $orange-light 0%, $orange-deep 100%);
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      width: 217px;
      @media screen and (max-width: 560px) {
        letter-spacing: -0.2px;
        font-size: 1.05rem;
      }

    }
  }

  .movie-recommendation-list {
    width: 100%;
    overflow: hidden;

    .no-recommandations {
      margin-top: 10px;
      margin-left: 40px;
      margin-bottom: 30px;
      font-family: $font-1;
      line-height: 20px;
      font-size: 1rem;
    }

  }
}
