.search-banner-bg {
  height: 45vh;
  min-height: 400px;

  .search-banner {
    height: 45vh;
    min-height: 400px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(
      90deg,
      rgb(0, 0, 0, 0.2) 15%,
      rgba(0, 0, 0, 0.01) 100%
    );

    h1 {
      margin-top: -8px;
      font-family: $font-2;
      font-size: 2.4rem;
      line-height: 2.3rem;
      text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.6);
    }

    h2 {
      font-family: $font-2;
      letter-spacing: 0.2px;
      line-height: 40px;
      text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.6);
    }

    .inputs-container {
      margin-top: 35px;
      display: flex;
      input[type='text'] {
        padding: 8px 200px 8px 28px;
        border-radius: 40px;
        border: none;
        outline: none;
      }
      input[type='submit'] {
        margin-left: -40px;
        padding: 8px 20px;
        border-radius: 40px;
        border: none;
        background: linear-gradient(to right, $orange-light, $orange-deep);
        cursor: pointer;
        font-family: $font-2;
      }
    }
  }
}
.on-theater-container {
  margin: 50px 40px 40px;

  h2 {
    font-family: $font-2;
    background: linear-gradient(120deg, $orange-light 0%, $orange-deep 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h3 {
    font-family: $font-5;
    font-size: 1rem;
  }

  .on-theater-list {
    margin-top: 15px;
    width: 100%;
    overflow: hidden;

    p {
      margin-top: 10px;
      font-family: $font-1;
      line-height: 20px;
      font-size: 1rem;
    }
  }
  .swiper-wrapper {
    display: flex;
    width: 100vw;
    margin-top: 15px;
  }

  .swiper-slide {
    margin: 0;
  }

  a {
    text-decoration: none;

    .on-theater-cards {
      img {
        width: 220px;
        height: 124px;
      }

      h4 {
        margin-top: 15px;
        font-size: 0.9rem;
        text-decoration: none;
        color: white;
        font-family: $font-2;
        line-height: 1rem;
        margin-bottom: 4px;
      }

      h5 {
        font-size: 0.85rem;
        text-decoration: none;
        color: white;
        font-family: $font-5;
      }
    }
  }
}

// .credits-container {
//   width: 300px;
//   padding-top: 20px;
//   border-top: 1px solid white;
//   text-align: center;
//   padding-bottom: 40px;
//   margin: auto;
//   font-size: 0.8rem;
// }
