@font-face {
  font-family: 'font-1';
  src: url(../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: 'font-2';
  src: url(../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: 'font-3';
  src: url(../assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: 'font-4';
  src: url(../assets/fonts/Poppins-Thin.ttf);
}
@font-face {
  font-family: 'font-5';
  src: url(../assets/fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: 'font-6';
  src: url(../assets/fonts/Poppins-LightItalic.ttf);
}
@font-face {
  font-family: 'font-7';
  src: url(../assets/fonts/Poppins-Bold.ttf);
}

$font-1: 'font-1', sans-serif;
$font-2: 'font-2', sans-serif;
$font-3: 'font-3', sans-serif;
$font-4: 'font-4', sans-serif;
$font-5: 'font-5', sans-serif;
$font-6: 'font-6', sans-serif;
$font-7: 'font-7', sans-serif;

$orange-light: #ffc40b;
$orange-deep: #ff8b7a;
$black: #080303;
$white: rgb(238, 238, 238);
$greybg: rgb(6, 6, 6);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-1;
}

body {
  background: $greybg;
  color: $white;
  -webkit-font-smoothing: antialiased;
  max-width: 1440px;
  min-width:370px;
  margin: 0 auto;
}
li {
  list-style: none;
}
