.fav-cards {
  min-width: 500px;
  width: 100%;
  height: 60px;
  background: #1e1e1eb2;
  border-radius: 10px;
  margin: 15px 0;
  display: flex;

  .poster-film {
    a {
      text-decoration: none;
      img {
        height: 100%;
        width: 140px;
        object-fit: cover;
        display: block;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }
    }
  }
  .fav-infos {
    margin: 0px 0px;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;

    .title-movie {
      width: 300px;
      h2 {
        font-size: 1rem;
        margin-left: 30px;
        font-family: $font-7;
        letter-spacing: 0.5px;
      }
    }

    .date {
      display: flex;
      width: 150px;
      margin: 2px 0px;
    }
    h4 {
      font-size: 0.9rem;
      font-weight: 100;
      font-family: $font-2;
    }

    .runtime {
      width: 150px;
    }

    button {
      background: none;
      border: none;
      font-size: 1.3rem;
      color: $orange-deep;
      position: absolute;
      right: 30px;

      &:hover {
        content: 'Supprimer des coups de coeur';
      }
    }
  }
}
